@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* this is headerbanner start */
.header-banner {
    background-image: url('../images/banner/banner3.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 808px;
    width: auto;
    display: flex;
    align-items: center;
}

.header-content {
    text-align: right;
    padding-left: 55%;
    color: white;
}

.header-title {
    font-size: 65px;
    margin-bottom: 24px;
}

.header-description {
    margin-bottom: 32px;
}

.header-btn {
    border-radius: 5px;
    border-style: none;
    padding: 20px 26px;
    color: #005FAC;
    font-size: 20px;
}

/* this is info section start  */
.info-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.info-img {
    padding: 0 35px;
}

.info-content {
    padding: 0 100px;
}

.info-content-title {
    font-size: 40px;
    margin-bottom: 25px;
}

.info-description {
    margin-bottom: 17px;
}

.info-list {
    padding-left: 15px;
}

/* this is plan section star  */
.plan-container {}

.plan-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.plan-contain-box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.plan-content {
    text-align: center;
    padding: 25px;
}

.plan-content-title {
    margin: 16px 0;
}

.plan-content-description {
    color: #737272;
}

/* this is a call banner section  */
.call-banner {
    border-radius: 8px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    /* background: linear-gradient(40deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 50%); */
    display: flex;
    justify-content: center;
    height: 300px;
    width: auto;
    margin: 130px 60px;
}

.call-banner-content {
    margin-top: 75px;
    margin-right: 45%;

}

.call-banner-title {
    color: white;
    font-size: 40px;
}

.call-banner-btn {
    background-color: white;
    border-style: none;
    padding: 20px 36px;
    margin-top: 25px;
    border-radius: 5px;
}

/* this is a footer section  */
.footer-container {
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.footer-info {
    padding-right: 30%;
}
.footer-info-title{
    font-size: 45px;
}
.footer-info p{
    margin-top: 24px;
    margin-bottom: 16px;

}

.footer-subscription {
    padding-right: 25px;
}

.footer-subscription-title {
    font-size: 25px;
}

.footer-subscription input {
    width: 325px;
    padding: 25px;
    background-color: #151414;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 16px;
    border: 1px solid #FFF;
}

.footer-subscription button {
    padding: 20px 35px;
    border-radius: 8px;
    background: #005FAC;
    color: white;
    border-style: none;
}